<div *ngIf="cyclesFetched">
  <h1>Cycles</h1>
  <nz-table #basicTable nzBordered [nzData]="cycles">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Skills</th>
        <th>Action</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cycle of cycles">
        <td>{{cycle.name}}</td>
        <td>{{cycle.start_date| date:'short'}}</td>
        <td>{{cycle.end_date | date:'short'}}</td>
        <td>
          <nz-dropdown>
            <a nz-dropdown>
              Skills
              <i nz-icon type = "down"></i>
            </a>
            <ul nz-menu>
              <li nz-menu-item *ngFor="let skill of cycle.skills">{{skill.name}}</li>
            </ul>
          </nz-dropdown>
        </td>
        <!-- <td *ngIf="cycle.skills.length == 0">
          <li> </li>
        </td> -->
        <td>
          <a (click)="deleteCycle(cycle.id)">Delete</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="selectedCycle(cycle)">Edit</a>
          <nz-divider nzType="vertical"></nz-divider>
          <nz-dropdown>
            <a nz-dropdown>
              Add Skill
              <i nz-icon type="down"></i>
            </a>
            <ul nz-menu *ngFor="let skill of skills">
              <li nz-menu-item (click)=addSkill(skill.id,cycle.id)>{{skill.name}}</li>
            </ul>
          </nz-dropdown>
        </td>
        <td>
          <a [routerLink]="['/admin/cycle/members', cycle.id]">Members</a>
          <!-- <nz-dropdown>
            <a nz-dropdown>
              Mentors
              <i nz-icon type = "down"></i>
            </a>
            <ul nz-menu>
              <div *ngFor = "let mentor of mentors">
                <ng-template [ngIf]="mentor.cycles.includes(cycle.id)">
                  <li nz-menu-item>
                    {{mentor.email}}
                  </li>
                </ng-template>
              </div>
            </ul>
          </nz-dropdown> -->
        </td>
        <!-- <td>
          <nz-dropdown>
            <a nz-dropdown>
              Mentees
              <i nz-icon type = "down"></i>
            </a>
            <ul nz-menu>
              <div *ngFor = "let mentee of mentees">
                <ng-template [ngIf]="mentee.cycles.includes(cycle.id)">
                  <li nz-menu-item>
                    {{mentee.email}}
                  </li>
                </ng-template>
              </div>
            </ul>
          </nz-dropdown>
        </td> -->
      </tr>
    </tbody>
  </nz-table>

</div>
<div class="example">
<nz-spin  [nzSize]="'large'" *ngIf="!cyclesFetched" ></nz-spin></div>
<nz-modal [(nzVisible)]="open" nzTitle="Edit Cycle" (nzOnCancel)="open = false" (nzOnOk)="editCycle()">
  <form nz-form [formGroup]="editForm" (ngSubmit)="Submit()">

    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired> Name</nz-form-label>
      <nz-form-control [nzSm]="4" [nzXs]="24">
        <input nz-input id="name" formControlName="name" style="width: 200px;">
        <nz-form-explain *ngIf="editForm.get('name').dirty && editForm.get('name').errors">Please input your cycleName!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>Start Date</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="startDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>End Date</nz-form-label>
      <nz-form-control [nzSm]="16" [nzXs]="24">
        <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="endDate"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>


  </form>
</nz-modal>


<div nz-row>
  <div nz-col nzSpan="12">
    <h1>New Cycle</h1>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="newCycle()">
      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzFor="nickname" nzRequired> Cycle Name</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input id="cycleName" formControlName="cycleName" style="width: 200px;">
          <nz-form-explain *ngIf="validateForm.get('cycleName').dirty && validateForm.get('cycleName').errors">Please input your cycleName!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>Start Date</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="startDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>End Date</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="endDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 4 }">
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  <div nz-col nzSpan="12">
    <h1>Start Date</h1>

    <form nz-form [formGroup]="StartDateForm" (ngSubmit)="editStartDate()">
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Mentor's Start Date</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="mentorDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Mentee's Start Date</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="menteeDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 4 }">
          <button nz-button nzType="primary">Update</button>
        </nz-form-control>
      </nz-form-item>
    </form>

  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="12">
    <h1>
      Skills
      <nz-tag [nzColor]="'red'" *ngIf = "error">Please fill in required fields</nz-tag>
    </h1>
    <form nz-form [formGroup]="skillsForm" (ngSubmit)="newSkill()">
      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired> Skill Name</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input id="skillName" formControlName="skillName" style="width: 200px;">
          <nz-form-explain *ngIf="skillsForm.get('skillName').dirty && skillsForm.get('skillName').errors">Please input your skill name!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="5" [nzXs]="24" nzRequired>Skill Type</nz-form-label>
        <nz-radio-group [(ngModel)]="skillsForm.value.skillType" [ngModelOptions]="{standalone: true}">
          <label nz-radio nzValue="technical">Technical</label>
          <label nz-radio nzValue="non-technical">Non Technical</label>
        </nz-radio-group>
      </nz-form-item>
      <nz-form-item>
          <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 4 }">
            <button nz-button nzType="primary">Add</button>
          </nz-form-control>
        </nz-form-item>
    </form>
  </div>
  <div nz-col nzSpan="12">
    <h1>Deadlines</h1>

    <form nz-form [formGroup]="deadlineForm" (ngSubmit)="editDeadline()">
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Mentor's Deadline</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="mentorDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>Mentee's Deadline</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" formControlName="menteeDate"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzXs]="{ span: 24, offset: 0 }" [nzSm]="{ span: 16, offset: 4 }">
          <button nz-button nzType="primary">Update</button>
        </nz-form-control>
      </nz-form-item>
    </form>

  </div>
</div>



