<h2>All users</h2>
<nz-table *ngIf="!loading"  #basicTable [nzData]="displayData">
    <thead (nzSortChange)="sort($event)">
      <tr>
        <th nzShowSort nzSortKey="email" >email</th>
        <th  nzShowFilter [nzFilters]="nameList" (nzFilterChange)="filter($event,searchAddress)">Role</th>
        <th >Matched</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
      <td> {{user.email}} </td>
      <td *ngIf="user.is_mentor==true">Mentor</td>
      <td *ngIf="user.is_mentor==true && user.matched.length==0">No matched</td>
      <td *ngIf="user.is_mentor==true && user.matched.length!=0">{{user.matched.length}} mentees</td>
        <td *ngIf="user.is_mentor==false">Mentee</td>
      <td *ngIf="user.is_mentor==false && user.matched.length==0">No matched</td>
      <td *ngIf="user.is_mentor==false&& user.matched.length!=0">{{user.matched.length}}  mentors</td>
      <td> <a (click)="deleteUser(user.id)">Delete
       
      </a></td>
      </tr>
    </tbody>
  </nz-table>

<!-- <ul >
  <li *ngFor="let user of users; let i = index;">
    <a [routerLink]="['/user']" [queryParams]="{ id: user.user_id}">{{user.email}}</a>
  
    
     
   
    
      
      
     
         
  </li>
</ul> -->
<button nz-button nzType="primary" *ngIf="usersFetched" (click)="download()" [nzSize]="large" nzShape="round">
  Download
  </button>
<div nz-col nzSpan="8" nzOffset="8" *ngIf="loading">
    <ng-template #indicatorTemplate><i nz-icon type="loading" style="text-align: center; font-size: 100px;"></i>
    </ng-template>
    <nz-spin [nzIndicator]="indicatorTemplate">
    </nz-spin>`
</div>