:host{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 24px 24px;
    /* justify-content: strech; */
}

.style{

    display   : 'block';
    height    : '30px';
    /* lineHeight: '30px'; */
}
.example {
    text-align: center;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }
  h1 {
      margin-top: 100px;
    font-size: 40px;
    text-align: center;
}
I{
    font-size: 12px;
    font-style: italic;
}

.disclaimer-text {
    display: flex;
    margin-left: 16.667%;
    width: 38%;
}