<div class="example" *ngIf="loading">
  <nz-spin [nzSize]="'large'"></nz-spin>
</div>


<nz-tabset [nzType]="'card'" *ngIf="!loading" [nzSize]="'large'" [nzSelectedIndex]="ex" [nzAnimated]="true"
  style="flex:1; overflow: scroll;">
  <nz-tab nzTitle='Personal info' [nzDisabled]="!flag">

    <form nz-form [formGroup]="editForm">

      <nz-alert nzType="error" nzCloseable nzMessage="Error "
        nzDescription="Please fill in all the required information so you can complete your sign up process"
        (nzOnClose)="afterClose()" *ngIf="error">

      </nz-alert>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>First Name</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input id="firstName" formControlName="firstName" style="width: 200px;">
          <nz-form-explain
            *ngIf="editForm.get('firstName').dirty && editForm.get('firstName').errors && !editForm.get('firstName').errors.pattern">
            Please input your first name!</nz-form-explain>
          <nz-form-explain *ngIf="editForm.get('firstName').errors && editForm.get('firstName').errors.pattern">Must
            only include characters!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Last Name</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input id="lastName" formControlName="lastName" style="width: 200px;">
          <nz-form-explain
            *ngIf="editForm.get('lastName').dirty && editForm.get('lastName').errors && !editForm.get('lastName').errors.pattern">
            Please input your first name!</nz-form-explain>
          <nz-form-explain *ngIf="editForm.get('lastName').errors && editForm.get('lastName').errors.pattern">Must only
            include characters!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>email</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input id="email" formControlName="email" style="width: 200px;">
          <nz-form-explain
            *ngIf="editForm.get('email').dirty && editForm.get('email').errors && !editForm.get('email').errors.pattern">
            Please input your email!</nz-form-explain>
          <nz-form-explain *ngIf="editForm.get('email').errors && editForm.get('email').errors.pattern">Please enter a
            valid email that must be @dell.com or @emc.com!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="type==1">
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Mentee Capacity:</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input id="email" formControlName="capacity" style="width: 200px;">
          <nz-form-explain
            *ngIf="editForm.get('capacity').dirty && editForm.get('capacity').errors && !editForm.get('capacity').errors.pattern">
            Please input how many hours you'll be available during this cycle!</nz-form-explain>
          <nz-form-explain *ngIf="editForm.get('capacity').errors && editForm.get('capacity').errors.pattern">Must be a
            digit!
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Years of experience</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-radio-group *ngIf="type==1" formControlName="yearsExperience">
            <label nz-radio [ngStyle]="style" *ngFor="let range of iscoachRanges" nzValue={{range}}>{{range}}</label>
          </nz-radio-group>
          <nz-radio-group *ngIf="type!=1" formControlName="yearsExperience">
            <label nz-radio [ngStyle]="style" *ngFor="let range of forcoachRanges" nzValue={{range}}>{{range}}</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Years in organization</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-radio-group *ngIf="type==1" formControlName="yearsOrganization">
            <label nz-radio [ngStyle]="style" *ngFor="let range of iscoachRanges" nzValue={{range}}>{{range}}</label>
          </nz-radio-group>
          <nz-radio-group *ngIf="type!=1" formControlName="yearsOrganization">
            <label nz-radio [ngStyle]="style" *ngFor="let range of forcoachRanges" nzValue={{range}}>{{range}}</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Years in role</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-radio-group *ngIf="type==1" formControlName="yearsInRole">
            <label nz-radio [ngStyle]="style" *ngFor="let range of iscoachRanges" nzValue={{range}}>{{range}}</label>
          </nz-radio-group>
          <nz-radio-group *ngIf="type!=1" formControlName="yearsInRole">
            <label nz-radio [ngStyle]="style" *ngFor="let range of forcoachRanges" nzValue={{range}}>{{range}}</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf='!businessUnitExists'>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Business Unit</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-select formControlName="department" style="width: 200px;">
            <nz-option *ngFor="let bu of businessUnits" [nzLabel]='bu' [nzValue]='bu'></nz-option>
          </nz-select>
          <a (click)="toggleBU()">If your business unit is not listed please click here</a>
          <nz-form-explain *ngIf="editForm.get('department').dirty && editForm.get('department').errors">
            Please input your department name!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf='businessUnitExists'>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Business Unit</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input id='department' formControlName='department' style='width:200px; line-height:23px;'>
          <nz-form-explain *ngIf="editForm.get('department').dirty && editForm.get('department').errors">
            Please input your department name!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Position</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input id="position" formControlName="position" style="width: 200px;">
          <nz-form-explain
            *ngIf="editForm.get('position').dirty && editForm.get('position').errors && !editForm.get('position').errors.pattern">
            Please input your position!</nz-form-explain>
          <nz-form-explain *ngIf="editForm.get('position').errors && editForm.get('position').errors.pattern">Must
            only
            include characters!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="nickname" nzRequired>Direct manager</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <input nz-input id="directManager" formControlName="directManager" style="width: 200px;">
          <nz-form-explain
            *ngIf="editForm.get('directManager').dirty && editForm.get('directManager').errors && !editForm.get('directManager').errors.pattern">
            Please input your direct manager's name!</nz-form-explain>
          <nz-form-explain *ngIf="editForm.get('directManager').errors && editForm.get('directManager').errors.pattern">
            Must only include characters!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary" (click)="logg()">Next</button>


    </form>
    <a href='../../assets/Mentoring_Toolkit (1).pptx' download="Mentoring_Toolkit.pptx">Download Mentoring Toolkit from
      here for getting more information on what is expected during the mentoring cycle</a>
  </nz-tab>

  <nz-tab nzTitle='Mentorship Details' [nzDisabled]="flag">
    <div nz-row *ngIf="!registered" style="overflow: scroll;">

      <div nz-col nzSpan="6" nzOffset="6" *ngIf="!loading">
        <div *ngFor="let question of questions">
          <div *ngIf="question.question_type=='TEXT'">
            <app-text-question [reset]='reset' (deletedAnswer)='editAnswer($event)'
              (selectedAnswer)='changeAnswer($event)' [question]='question.question_text'
              [questionId]="question.question_id"></app-text-question>
          </div>
          <div *ngIf="question.question_type=='MCQ'" style="z-index:9999">
            <app-select-many-question (deletedAnswer)='editAnswer($event)' (selectedAnswer)='changeAnswer($event)'
              [numberOfChoises]="1" [possibleAnswers]='question.answers' [question]='question.question_text'
              [reset]='reset' [questionId]="question.id"></app-select-many-question>
          </div>
          <div
            *ngIf="question.question_type=='MULTI_SELECT' && question.question_text != 'In what areas do you want further experience?' ">

            <app-select-many-question (deletedAnswer)='editAnswer($event)' (selectedAnswer)='changeAnswer($event)'
              (deselectAll)='clearAnswers($event)' [numberOfChoises]="numChoices" [possibleAnswers]='question.answers'
              [question]='question.question_text' [reset]='reset' [questionId]="question.id" [isMentee]="type">
            </app-select-many-question>
          </div>
          <div
            *ngIf="question.question_type=='MULTI_SELECT' && question.question_text=='In what areas do you want further experience?'">

            <app-select-many-question (deletedAnswer)='editAnswer($event)' (selectedAnswer)='changeAnswer($event)'
              (deselectAll)='clearAnswers($event)' [numberOfChoises]=numChoices [possibleAnswers]='question.answers'
              [question]='question.question_text' [reset]='reset' [questionId]="question.id" [isMentee]="type">
            </app-select-many-question>
            <span><I> Note: You can either pick career mentorship only, or up to 3 other areas. </I></span>
          </div>
          <br>
          <br>
        </div>
        <button nz-button nzType="primary" (click)="loadOne()"
          [nzLoading]="isLoadingOne">Submit</button>

      </div>
      <div nz-col nzSpan="8" nzOffset="8" *ngIf="loading">
        <ng-template #indicatorTemplate>
          <i nz-icon type="loading" style="text-align: center; font-size: 100px;"></i>
        </ng-template>
        <nz-spin [nzIndicator]="indicatorTemplate">
        </nz-spin>`
      </div>
    </div>
    <div nz-row *ngIf="registered">
      <h1>
        we've recieved your info you'll get an email when we find you a match
      </h1>
    </div>
  </nz-tab>
</nz-tabset>
