<nz-layout style="min-height:calc(100% - 72px);">
  <app-header style="min-height: 64px;"></app-header>
  <!-- <nz-sider *ngIf="showSide" [nzWidth]="200" style="background:#fff; padding-top: 64px;">
    <ul nz-menu [nzMode]="'inline'" style="height:100%">
      <li nz-submenu [nzOpen]="true">
        <span title><i nz-icon type="user"></i>Sign up as</span>
        <ul>
          <a [routerLink]="['/']" [queryParams]="{ type: 'mentor'}"><li nz-menu-item>Mentor</li></a>
          <a [routerLink]="['/']" [queryParams]="{ type: 'mentee'}"><li nz-menu-item>Mentee</li></a>
        </ul>
      </li>
    </ul>
  </nz-sider> -->

  <!-- <nz-content class="app-content-wrapper"> -->
    <nz-layout class="layout" style="background: #fff">
        <nz-sider *ngIf="showSideAdmin" [nzWidth]="200" style="background:#fff;">
            <ul nz-menu [nzMode]="'inline'" style="height:100%">
              <li nz-submenu [nzOpen]="true">
                <span title><i nz-icon type="user"></i><a [routerLink]="['/admin/dashboard']">Admin</a></span>
                <ul>
                  <a [routerLink]="['/admin/users']"><li nz-menu-item>All users</li></a>
                  <a [routerLink]="['/admin/questions']"><li nz-menu-item>Add questions</li></a>
                  <a [routerLink]="['/admin/users/match']"><li nz-menu-item>Match Mentees</li></a>
                  <a><li nz-menu-item><app-email></app-email></li></a>
                  <a><li nz-menu-item><app-invite-mentor></app-invite-mentor></li></a>
                </ul>
              </li>
            </ul>
          </nz-sider>
   

        <nz-content class="app-content">
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
      <!-- </nz-content> -->
    </nz-layout>
    <app-footer></app-footer>