.example {
    text-align: center !important;
    background: rgba(0,0,0,0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
  }
  [nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
  }

  .nz-button-group [nz-button] {
    margin-right: 0;
  }
