<div *ngIf="membersFetched">
  <div class="row">
      <h1>Members</h1>

      <input type="checkbox" [(ngModel)]="showMentors" (ngModelChange)="checkShowMentors()" style="margin-right: auto" name="chk1" value="bb"> Show Mentors<br>
      <input type="checkbox" [(ngModel)]="showMentees" (ngModelChange)="checkShowMentees()" style="margin-right: auto" name="chk2" value="aa"> Show Mentees<br>

  </div>
  <nz-table #basicTable nzBordered [nzData]="members_temp">
    <thead>
      <tr>
        <th>Email</th>
        <th>Department</th>
        <th>Years of Experience</th>
        <th>IsMentor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let member of members_temp">
        <td>{{member.email}}</td>
        <td>{{member.departement}}</td>
        <td>{{member.years_of_experience}}</td>
        <td>{{member.is_mentor}}</td>
      </tr>    
    </tbody>
  </nz-table>
</div>
<div class="example">
    <nz-spin [nzSize]="'large'" *ngIf="!membersFetched"></nz-spin>
</div>
<button nz-button nzType="primary" [routerLink] = "['/admin/dashboard']"><i nz-icon type="left"></i>Back</button>
<button nz-button nzType="primary" *ngIf="membersFetched && answersFetched" (click)="download()" [nzSize]="large" nzShape="round">
  Download
  </button>