/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    flex-direction: column;
}

.ant-layout.ant-layout-has-sider > .ant-layout-content{
     overflow-x: unset;;

}