<div class="bb">

  <div class="bb-overlay">
    <div>
      <h1 class="black">Apply as a
      </h1>
      <div class="wrapper" style="margin-top: 5%">
        <a [routerLink]="['signupCoaching']" [queryParams]="{ type: 'mentor'}"><button class="mentor" nz-button
            nzSize='large' nzType="default">Mentor</button></a>
        <a [routerLink]="['signupCoaching']" [queryParams]="{ type: 'mentee'}"><button class="mentee" nz-button
            nzSize='large' nzType="default">Mentee</button></a>
      </div>
    </div>
  </div>
</div>


<!-- <h1> 
  Mentee? Looking For a
</h1>
<div class = "wrapper">
  <a [routerLink]="['signupMentoring']" [queryParams]="{ type: 'mentee'}"><button class = "mentor" nz-button nzSize='large' nzType="primary">Mentor</button></a>
  <a [routerLink]="['signupCoaching']" [queryParams]="{ type: 'forcoach'}"><button class = "mentee" nz-button nzSize='large' nzType="primary">Coach</button></a>
</div> -->