:host {
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
}

h1 {
    font-size: 80px;
    text-align: center;
    color: "black";
    opacity: 1;
}

.wrapper {
    text-align: center;
}

[nz-button] {
    font-size: 24px;
    height: 75px;
    width: 180px;
    border-radius: 10%;
    /* border-color: aqua; */
}

.bb{
    height: 100%;
    /* min-height: 100%; */
    /* background-image: url("https://inside.dell.com/resources/statics/1355203/cq5dam.web.1280.1280.jpeg?a=1541377162507"); */
    background: url("https://inside.dell.com/resources/statics/1355203/cq5dam.web.1280.1280.jpeg?a=1541377162507") no-repeat center center fixed;
    /* opacity: 0.7; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;    
    display: flex;
    flex: 1;
    flex-direction: column;
}

.bb-overlay {
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.black{
    backface-visibility: hidden;
    color: black !important;
    
}

.mentor {
    text-align:centre;
    margin-right: 30px;
    opacity: 1;
}
.mentee > * {
    display:inline-block;
}