h1 {
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: "black";
    opacity: 1;
}

.wrapper {
    text-align: center;
}

[nz-button] {
    font-size: 24px;
    height: 75px;
    width: 180px;
    border-radius: 10%;
    /* border-color: aqua; */
}

.bb{
    min-height: 100%;
    /* background-image: url("https://inside.dell.com/resources/statics/1355203/cq5dam.web.1280.1280.jpeg?a=1541377162507"); */
    background: url("https://inside.dell.com/resources/statics/1355203/cq5dam.web.1280.1280.jpeg?a=1541377162507") no-repeat center center fixed;
    /* opacity: 0.7; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;    
}

.bb-overlay {
    /* background: url("https://inside.dell.com/resources/statics/1355203/cq5dam.web.1280.1280.jpeg?a=1541377162507") no-repeat center center fixed; */
    /* background-size: cover; */
    background-color: rgba(255,255,255,0.3);
    padding-top: 200px;
    padding-bottom: 250px;
    width: 100%;

}

.black{
    backface-visibility: hidden;
    color: black !important;
    
}

.mentor {
    text-align:centre;
    margin-right: 30px;
    opacity: 1;
}
.mentee > * {
    display:inline-block;
}